.button {
    text-align: right;
}
.painelh5{
    text-align: center;
    font-size: 40px;
    
}
.painel {
    -webkit-box-shadow: 10px 10px 5px 0px rgba(128,121,128,1);
-moz-box-shadow: 10px 10px 5px 0px rgba(128,121,128,1);
box-shadow: 10px 10px 5px 0px rgba(128,121,128,1);
}

.spanPainel {
    font-size: 16px;
}
.graficoCliente {
    margin-left: -30px
}
.classImage {
    width: 50px;
    height: 50px;
    margin-left: 15px;
    color:white;
}
.icon {
    width: 30px;
    height: 30px;
}
.navBarBackground{
   background-color: #250352 ;
   color: white;
   
}
.navoptions {
    color: white;
}
.navoptionsblack {
    color: black;
}
.dash {

    
    margin-top: 10px;
    color: black;
    border-right: 2px solid #250352 ;
}
#dashBoard {
    height: 100%;
}
html,body {
    height: 100%;
}
.graficoPizza {
    width: 350px;
}
@media only screen and (max-width:800px){
    body{
        max-width: 350px!important;
        text-align: center!important;
    }
    .graficoCliente{
        margin-left: 10px;
    }
    .colorMobile {
        background-color: #250352 ;
    }
    .dropdown {
       background-color: #320370;
       color: white!important;
    }
    .styleDrop {
        margin: 5%!important;
        margin-left: 15%!important;
        text-align: center!important;
    }
    .drop {
        background-color: #320370;
        color: white!important;
    }
    #wrapper{
        padding-top: 20px;
        text-align: center;
    }
    .classImage {
        margin-right: 10px;
    }
    #dashBoard {
        text-align: center;
    }
    .painel {
        margin-top: 100px;
    }
}
